/* global layout
*************/

.section-a {
    position: relative;
    height: 1000px;


    &__clickpath {
        position: absolute;
        height: 1000px;
        left: auto;
    }

    .textContainer h1 {
        position: absolute;
        width: auto;
        margin: 0 5%;
        height: auto;
        top: 30%;
        left: 15%;
    }

}