/* media queries
*************/

@media only screen and (max-width:1110px) {
    .section-a {
        &__header {
            padding: 2em 5% !important;
            background-color: rgba(0, 0, 0, 0.9);

            .logo {
                width: 180px;
            }

            .nav__links {
                // display: none;
                background-color: rgba(0, 0, 0, 0.9);
                position: absolute;
                right: 0px;
                width: 100%;
                top: 8vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateX(100%);
                transition: transform 500ms ease-in;
                font-size: 2rem;

                li {
                    margin: 2em 0;
                    opacity: 0;
                }
            }

            .burger {
                display: block;
            }
        }

        .textContainer {
            padding: 0 5%;

            h1 {
                font-size: 10vw;
            }

            .btn--primary {
                font-size: 2.5vw;
                max-width: 30vw;
            }
        }
    }
}