/* buttons
*************/

.btn {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.btn--primary {
    background-color: color(accent);
    transition: all 300ms ease;
    transform-origin: left;

    &:hover,
    &:focus {
        opacity: 70%;
        transition: all 300ms ease;
    }
}

.btn--secondary {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    transition: all 300ms ease;
    transform-origin: left;
    width: 80px;

    &:hover,
    &:focus {
        transition: all 300ms ease;
        opacity: 50%;
    }
}