/* buttons
*************/

.btn {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;


    &::after {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 250ms ease;
    }

    &:hover::after,
    &:focus::after {
        transform: scaleX(1);

    }
}

.btn--primary {
    background-color: color(accent);
    font-size: 1.5vw;
    font-weight: 300;
    max-width: 17vw;
    letter-spacing: 0.22em;
    // color: white;

}

.btn--secondary {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    transition: all 300ms ease;
    transform-origin: left;
    width: 80px;
}