body {
    background-color: color(primary);

    h1 {
        color: color(accent);
    }

    h2 {
        color: color(accent);
    }

    h3 {
        color: color(accent);
    }

    h4 {
        color: color(accent);
    }
}