@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:400,500,500i,600&display=swap');
@import './fontsettings';
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}